.main-cards {

  &__list {
    display: grid;
    grid-template-columns: 200px;
    grid-auto-flow: row;
    justify-content: center;
    gap: 48px;
    padding: 50px 0 72px;

    @media (min-width: 488px) {
      grid-template-columns: repeat(2, 200px);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 200px);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 200px);
    }
  }

  &__card {
    transition: scale $duration-animation;

    &:hover {
      scale: 1.2;
    }
  }
}
